/*
    INITIAL
*/

html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-color: #071930;
    color: white;
    font-family: 'Concert One';
}

/*    NAV BAR
*/
#navContainer{
    position: fixed;
    z-index: 99;
    height: 100px;
    width: 100%;
}
#topNav{
    display: flex;
    justify-content: flex-end;
}
#navLink{
    margin-left: 2%;
}

/*
    START DIV
*/

#start{
    width:100%;
    height:100vh;
    margin: 0px;
    padding: 0px;
}
#startContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#startTextContainer{
    font-size: 2em;
    cursor: default;
    padding-left: 10%;
    text-align: end;
}
svg{
    max-width: 15%;
    padding: 1%;
}
/*
    ABOUT DIV
*/

#about{
    min-height: 100vh;
    width: 100%;
}

#aboutTitle{
    font-size: 2em;
    display: flex;
    justify-content: center;
}
#aboutSideContent{
    display: flex;
}
#aboutContent{
    display: grid;
    grid-template-columns: 100%;
}
#aboutImg{
    max-height: 50%;
    max-width: 35%;
}
#aboutPortrait{
    max-width: 100%;
    border-radius: 2em;
    padding: 1%
}
#aboutSkills{
    display: grid;
    grid-template-rows: 25% 75%;
    max-width: 20%;
    font-size: 1.2em;
}
#skillsTitle{
    grid-column: 1/3;
    text-align: center;
    font-size: 2em;
    margin: 0px;
    margin-bottom: 1%;
}
#skillsList{
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 22% 22% 22% 22%;
    gap: 3%;
}
#aboutText{
    padding: 5%;
    font-size: 1.2em;
}
#navLink{
    text-decoration: none;
    font-family: 'Concert One';
    color: white;
    font-size: 1.6em;
    padding-right: 3%;
    padding-top:0.5%;
}
/*
    PROJECTS DIV
*/

#projects{
    height: 100vh;
    display:grid;
    grid-template-columns: 20% 80%;
}

#projectsNav{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    border-radius: 1em 0px 0px 1em;
    font-size: 2em;
    padding-right: 0px;
    margin-left: 3%;
    cursor: pointer;
}
#infoContainer{
    margin: 2%;
    margin-left: 0px;
}
/* Library Light page */
#linkLibrary{
    /*unselected color*/
    background-color: rgb(103, 27, 27);
}
#libraryShow{
    background-color: rgb(103, 27, 27);
    height: 98%;
    width: 98%;
    border-radius: 2em;
    padding: 1.5%;
}

/* Bus Talker page */
#linkBus{
    /*unselected color*/
    background-color: rgb(140, 65, 0);
}
#busShow{
    background-color: rgb(140, 65, 0);
    height: 98%;
    width: 98%;
    border-radius: 2em;
    padding: 1.5%;
}

/* MyVitaLog page */
#linkVita{
    /*unselected color*/
    background-color: rgb(1, 53, 1);
}
#vitaShow{
    background-color: rgb(1, 53, 1);
    height: 98%;
    width: 98%;
    border-radius: 2em;
    padding: 1.5%;
}

#projectHide{
    display:none;
}
#projectTitle{
    width:100%;
    text-align: center;
}
#projectContent{
    display:grid;
    grid-template-columns: 70% 30%;
}
#projectText{
    padding: 2%;
    font-size: 1.5em;
}
#projectImage{
    max-width: 100%;
    border-radius: 3%;
}

/*
    Desktop Styling
*/
@media screen and (min-width: 768px) {
    /*
        Start and Nav
    */
    #navLink{
        font-size: 2em;
    }
    #startContent{
        justify-content: flex-start;
    }
    #startTextContainer{
        justify-content: flex-start;
        text-align: left;
    }
    svg{
        max-width: 8%;
    }
    /*
        About page
    */
    #aboutContent{
        grid-template-columns: 20% 80%;
    }
    #aboutSideContent{
        display: block;
    }
    #aboutImg{
        max-width: 100%;
    }
}