/*
    INITIAL
*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: #071930;
    color: white;
    font-family: 'Concert One';
}

/*
    START DIV
*/

#startDiv{
    width:100%;
    height:100vh;
    margin: 0px;
    padding: 0px;
}

#startNav{
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#navLink{
    text-decoration: none;
    font-family: 'Concert One';
    color: white;
    font-size: 2em;
    padding-right: 30px;
    padding-top:5px;
}

#startContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#startTextContainer{
    font-size: 2em;
    cursor: default;
    padding-left: 100px;

}

/*
    PROJECTS DIV
*/

#projectsDiv{
    height: 100vh;
    display:grid;
    grid-template-columns: 20% 80%;
}

#projectsNav{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width: 100%;
    border-radius: 1em 0px 0px 1em;
    font-size: 2em;
    padding-right: 0px;
    margin-left: 3%;
    cursor: pointer;
}

#infoContainer{
    margin: 2%;
    margin-left: 0px;
}
/* Library Light page */
#linkLibrary{
    /*unselected color*/
    background-color: rgb(103, 27, 27);
}
#libraryShow{
    background-color: rgb(103, 27, 27);
    height: 100%;
    width: 100%;
    border-radius: 2em;
}
#libraryHide{
    display:none;
}
/* Bus Talker page */
#linkBus{
    /*unselected color*/
    background-color: rgb(140, 65, 0);
}
#busShow{
    background-color: rgb(140, 65, 0);
    height: 100%;
    width: 100%;
    border-radius: 2em;
}
#busHide{
    display:none;
}
/* MyVitaLog page */
#linkVita{
    /*unselected color*/
    background-color: rgb(1, 53, 1);
}
#vitaShow{
    background-color: rgb(1, 53, 1);
    height: 100%;
    width: 100%;
    border-radius: 2em;
}
#vitaHide{
    display:none;
}

